#question_option_view td.option-title {
	padding: 3px 0 3px 20px;
}

#question_option_view td.question .swat-text-cell-renderer {
	display: block;
}

#question_option_view td.question .swat-link-cell-renderer {
	margin: 2px 0.5em 2px 0;
	display: block;
	float: left;
}

#question_option_view td.question .swat-link-cell-renderer a {
	display: block;
	margin: 0;
}

#question_option_view tbody tr {
	background-image: none;
}

#question_option_view .swat-table-view-group {
	border-bottom: none;
	padding-top: 1.5em;
}

#question_option_view tbody tr.swat-table-view-group:first-child td {
	padding-top: 0;
}

#question_option_view .inquisition-question-option-correct {
	color: #438d04;
}
